{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
        <title>FeedMe</title>
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="header">
            <img class="logo center" src="{% static "images/logo.png" %}">
        </div>
        <div class="header-extension">
            <form id="request_form" action="{% url 'api:create_request' %}" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <input name="name" class="order-name center" type="text" placeholder="Enter username here">
                </div>
                <div class="input-container">
                    <input name="user_location" class="order-name center" type="text" placeholder="Where are you located?">
                </div>
                <div class="input-container">
                    <select class="order-floor center">
                        <option>Select a floor where your snack is located</option>
                        {% for i in floor_options %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-container">
                    <select class="order-item center" form="request_form" name="item_id">
                    </select>
                </div>
                <div class="input-container">
                    <input class="order-submit center" type="submit" value="Submit Order"/>
                </div>
            </form>
        </div>
        <div class="floor">
            <div class="current-floor">13th<span> floor</span></div>
            <button class="choose-floor-button">Choose Floor</button>
            <img class="grid-toggle" src="{% static "images/grid.png" %}">
        </div>
        <div class="choose-floor center">
            <select class="order-floor center">
                <option>Select a floor</option>
                {% for i in floor_options %}
                    <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="all-orders">
            {% for request in active_requests %}
                <div class="order-container">
                    <div class="order-details">
                        <div class="what">{{request.item.item.name}}</div>
                        <div class="who">{{request.requester.full_name}} - located at: {{request.employee_location}}</div>
                    </div>
                    <img class="complete-icon" src="{% static "images/check.png" %}">
                </div>
            {% endfor %}
        </div>
        <button class="new-order">+</button>
        
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
